* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body {
	background-color: grey;
}
.wrapper {
	border-left: 20px solid violet;
	border-right: 20px solid violet;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
header {
	text-align: center;
}
.logo {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	color: black;
}
.logo:hover {
	opacity: 0.7;
}
span {
	display: block;
}
header nav {
	text-align: left;
	background-color: black;
}
nav li {
	display: inline-block;
}
header nav a {
	font-size: 20px;
	color: white;
	display: inline-block;
	text-decoration: none;
	padding: 7px 30px;
}
header nav a:hover {
	background-color: grey;	
}