* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
li {
	background-color: grey;
	padding: 120px;
	margin: 15px;
	width: calc(33.33% - 60px);
	float: left;
	color: white;
}
.container {
	margin: 10px;
	padding: 0px;
}