h1 {
		text-align: center;
		color: crimson;
		font-size: 1.5em;
}
p {
	text-align: center;
	color: DarkBlue;
}
img {
	width: 300px;
	border: 4px double #f0f;
	text-align: center;
	}
figcaption {
	color: black;
	font-size: 1.2em;
	text-align: center;
}
p.left {
	text-align: left;
	border-left: 4px dashed BlueViolet;
	color: black;
}
a {
	color: DarkGreen;
	text-decoration: underline;
}
ol {
	font-size: 1.2em;
}
footer {
	color: black;
	text-align: center;
	border-bottom: 2px dashed black;
}